@import "../../../node_modules/normalize-scss/fork-versions/default/_normalize.scss";
@import 'layout/fonts';
@import 'layout/vars';
@import 'layout/mixin/mixins';

html {
	font-size: $baseFontSize;
	height: 100%;
	line-height: 1.3;
}
body {
	font-family: $mainFont;
	height: 100%;
	overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6 {
	margin: 0;
}

ul,li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
p {
	margin: 0;
}

a {
	color: black;
	text-decoration: none;
}
audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

textarea {
	resize: none;
}

section {
	position: relative;
}

input,
select,
button {
	outline: none;
}

*, *:before, *:after {
	box-sizing: border-box;
}

.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.content {
	flex: 1 0 auto;
}


@import 'layout/header';
@import 'layout/footer';
@import 'layout/media';
