@mixin vcenter($axis: 'both'){
	position: absolute;
	@if ($axis == 'both'){
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		}
	@if ($axis == 'x'){
		left: 50%;
		transform: translateX(-50%);
		}
	@if ($axis == 'y'){ 
		top: 50%;
		transform: translateY(-50%);
		}
}
@mixin coverdiv{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	}
@mixin cover($path){
	background-image: url($path);
	background-repeat: no-repeat; 
	background-size: cover;
	background-position: 50% 50%;
	}
@mixin box{
	box-sizing: border-box;
}
@mixin gw($color1, $color2){
	background-image:(linear-gradient($color1, $color2));
}
@mixin gh($color1, $color2){
	background-image:(linear-gradient(left, $color1, $color2));
}
	
@mixin rem($size){
	font-size: ($size/16)*1rem;
}

@mixin size($width, $height...){
	@if (length($height) == 1){ 
    	height: $height;
    	width: $width;
  }
	@else { 
    	height: $width;
    	width: $width;
	}
}
@mixin lh($siaze1,$size2){
	line-height: ($siaze1/$size2)*1em;
}

@mixin desktop(){
	@media screen and (max-width: 1200px){
		@content;
	}
}

@mixin laptops(){
	@media screen and (max-width: 992px){
		@content;
	}
}

@mixin tablets(){
	@media screen and (max-width: 768px){
		@content;
	}
}
@mixin phones(){
	@media screen and (max-width: 480px){
		@content;
	}
}
